- name: Check mandatory variables
  ansible.builtin.include_tasks: check_vars.yaml

- name: Setup/install redis
  become: true
  ansible.builtin.include_tasks: install_redis.yaml

- name: Configure redis
  become: true
  ansible.builtin.include_tasks: configure_redis.yaml

- name: Enable and start redis
  become: true
  ansible.builtin.include_tasks: enable_start_redis.yaml
